@import url('https://fonts.googleapis.com/css?family=Lato|Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

.TopBar{
    color: white;
    background-color: rgb(0, 0, 0);
    display: flex;

}
.name{
    width: 100%;
    text-align: center;
    padding-top: 1.2em;
    font-family: 'Lato';
    color: #FF1929;
    font-size: 2em;
}
.title{
    text-align: center;
    width: 100%;

    /* margin: 1em 0 1em 1em; */
    font-family: 'Permanent Marker';

}
.profile_photo{
    max-width: 180px;


}
.header_div{
    width: 100%;
padding-bottom: 1em;
    justify-content: space-around;
    white-space: nowrap;
    font-size: 2em;
}
.technologies{
    background-color: rgb(255, 174, 0);
    margin-top: 20em;
    height: 3em;
}
.techImages{
    text-align: center;
    background-color: rgb(197, 234, 255);
    display: flex-inline;
}
.techImages img{
    height: 5em;
    padding: 3%;
    margin-top: 13em;

}

.first_block{
    margin-top: 3000px;
}