* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

.TopBar{
    background-color: rgb(0, 0, 0);
    padding:  4em 2em 0 0;
    color: rgb(255, 174, 0);
    display: flex;
}
.name{
    text-align: center
}
.title{

}
.profile_photo{
    margin-left: 1em;
    max-width: 200px;
    border-radius: 50%;
}
.header_div{
    justify-content: column;
    white-space: nowrap;
    font-size: 2em;
}
.first_block{
    margin-top: 3000px;
}